.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  list-style: none;
}

.margin {
  margin-right: 4px;
}
